<h1>Assignment 2</h1>

<ol>
    <li>Add an Input field wich updates a property ("userName") via 2-way binding</li>
    <li>Output the username interpolated with a string in a Paragraph below the input</li>
    <li>Add a button which may only be clicked if the userinput is NOT an empty string</li>
    <li>Upon clicking the button, a message is shown: Hello username and the username is reset to an empty string</li>
</ol>

<hr />
<label>UserName:</label>
<input type="text" [(ngModel)]="userName" />
<p>Hello {{ userName }}</p>
<button type="button" [disabled]="isUserNameEmpty()" (click)="resetUser()">
    Reset User
</button>