<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"></div>
        <h1>Assignment 7. Boats, boats boats!</h1>
        <p>Create a state management system for the requirements below</p>

        <p>A client has a business running rental boats. He wants to be notified whenever a boat is rented</p>
        <p>Make sure to include the following functionality</p>
        <ol>
            <li>A boat has an Id, a name, a flag whether it's available to rent and a type (sailboat, speedboat etc.)</li>
            <li>When the client navigates to the landing page, he wants to see all of his available boats</li>
            <li>The client should have the option to see either all boats, or the available boats only.</li>
            <li>The clients wants to be able to add new boats and remove existing ones. </li>
            <li>After adding or removing, the latest changes need to be pushed to the screen</li>
            <li>A boat should have a button: Rent. When a boat is rented, it should no longer be visible on the page,but must still exist in the state management. See above</li>
            <li>When a boat is rented, A message should be logged to the console, containing the boat details</li>
            <li>When a client is trying to rent an unavailable boat, an error message should be displayed</li>
            <li>This entire assigment can be done in application state. Data does not need to be persisted</li>
            <li>Optional: Can you add styling using scss?</li>
        </ol>



    </div>
</div>