<h1>Assignment four</h1>
<ul>
    <li>Make a new directive: ZoomDirective</li>
    <li>When a user hovers over a paragraph using this directive, the text background color should change and the
        font-size should increase</li>
    <li>Make the background color and font size dynamic with default values of yellow and 3em</li>
    <li>On hovering the cursor, the directive should be triggered. On mouseleave, the element should return to its
        default values</li>
    <li>Demonstrate the functionality using at least 3 paragraphs, each with a different highlight colour</li>
</ul>