<h1>Servers</h1>
<hr />

<input type="text" [(ngModel)]="serverName" />
<p>{{ serverName }} </p>

<button [disabled]="!allowNewServer" (click)="onCreateServer()"> Add Server </button>

<p *ngIf="serverCreated else noServer">Server was created. Servername is {{ serverName }}</p>
<ng-template #noServer>
    <p>No server was created</p>
</ng-template>


<app-server 
    *ngFor="let server of serverModels"
    [serverId]="server.id"
    [serverName]="server.name">
</app-server>

<!-- <div *ngFor="let serverModel of serverModels">
    <p>Id: {{serverModel.id}}</p>
    <p>Name: {{serverModel.name}}</p>
    <p>Status: {{serverModel.status | uppercase }}</p>
</div> -->

<!-- <p>{{ serverName | uppercase }} </p>
<p>{{ serverName | lowercase }} </p>
<p>{{ serverName | titlecase }} </p>
<p>{{ serverName | slice:0:5 | uppercase }} </p>
<p>{{ '1.3548646415346848946' | currency: 'EUR' }} </p>

<p>{{ '05/07/2022' | date: 'longDate' | uppercase }} </p> -->