<!-- Assignments -->
<!-- 
    <app-assignment-one></app-assignment-one>
    <app-assignment-two></app-assignment-two> 
    <app-assignment-three></app-assignment-three> 
    <app-assignment-four></app-assignment-four> 
    <app-assignment-five></app-assignment-five>
 -->

<!-- Theory -->
<!-- Session 1: Basics -->
<!-- <app-servers></app-servers>-->
<!-- <app-colors></app-colors> -->

<!-- Session 2: Directives-->
<!-- <app-directive-example></app-directive-example> -->

<!-- Session 3: Services -->
<!-- <app-accounts></app-accounts> -->

<!-- Session 4: Routing -->
<app-routing></app-routing>