<!-- Assignments -->
<!-- <app-assignment-one></app-assignment-one> -->
<!-- <app-assignment-two></app-assignment-two> -->
<!-- <app-assignment-three></app-assignment-three> -->
<!-- <app-assignment-four></app-assignment-four> -->
<!-- <app-assignment-five></app-assignment-five> -->
<!-- <app-assignment-six></app-assignment-six> -->
<!-- <app-assignment-seven></app-assignment-seven> -->
<!-- <app-assignment-eight-state-management></app-assignment-eight-state-management> -->

<!-- Theory -->
<!-- <app-servers></app-servers>-->
<!-- <app-colors></app-colors> -->
<!-- <app-directive-example></app-directive-example> -->
<!-- <app-accounts></app-accounts> -->
<!-- <app-template-driven-form></app-template-driven-form> -->
<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-observable></app-observable> -->
<!-- <app-state-management></app-state-management> -->
<!-- <app-callbacks></app-callbacks>
<app-promises></app-promises>
<app-async-await></app-async-await> -->
<app-observables></app-observables>