<!-- Assignments -->
<!-- <app-assignment-one></app-assignment-one> -->
<!-- <app-assignment-two></app-assignment-two> -->
<!-- <app-assignment-three></app-assignment-three> -->
<!-- <app-assignment-four></app-assignment-four> -->
<!-- <app-assignment-five></app-assignment-five> -->
<!-- <app-assignment-six></app-assignment-six> -->
<!-- <app-assignment-seven></app-assignment-seven> -->

<!-- Theory -->
<!-- <app-servers></app-servers>-->
<!-- <app-colors></app-colors> -->
<!-- <app-directive-example></app-directive-example> -->
<!-- <app-accounts></app-accounts> -->

<app-template-form></app-template-form>
<!-- <app-reactive-form></app-reactive-form> -->