<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"></div>
        <h1>Assignment 7</h1>
        <p>Create a reactive form for the information below</p>
        <p>Got time left? Try the template-driven approach as well!</p>
        <ol>
            <li>Project name (should not be empty)</li>
            <li>Mail (Should not be empty and be a valid email</li>
            <li>Project status dropdown, with 3 values: Stable, Critical, Finished</li>
            <li>If a field is invalid, mark the border as red. Make sure this only happens after the value is modified</li>
            <li>Show a helper message when a value was invalid. E.g. Please enter a valid email address. Make sure this only happens after the value is modified</li>
            <li>Advanced: Can you show different messages depending on the error code?</li>
            <li>Submit button</li>
            <li>Add your own validator, which does not allow 'test' as a project name</li>
            <p>Upon submitting the form, simply print the value to the console</p>
        </ol>

    </div>
</div>