<p>Assignment 6</p>
<hr>

<ul>
    <li>Generate 3 components. First, second and third</li>
    <li>Register said components as routes</li>
    <li>Add dummy data to each component</li>
    <li>Add a navigation bar and display each component as it is selected</li>
    <li>Provide a fallback page not found page</li>
    <li>Do NOT show the fallback page when the root is opened. Show page first by default</li>
</ul>

<nav>
    <a routerLink="/first-page" routerLinkActive="active">First page</a>
    <a routerLink="/second-page" routerLinkActive="active">Second page</a>
    <a routerLink="/third-page" routerLinkActive="active">Third page</a>
</nav>
<router-outlet></router-outlet>
